%p.float-right= link_to 'New Import', new_import_path, { class: 'btn btn-primary' }

%h1 Imports

%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th State
      %th Total Count
      %th Created Date

    %tbody
      - for import_result in import_results
        %tr
          %td
            %a{ href: import_result.uri }= import_result.name
          %td
            %em= import_result.description
          %td= import_result.state.humanize
          %td= import_result.total_count
          %td{ class: 'text-muted' }= import_result.created_at.strftime('%d %b %Y, %H:%M:%S')
